.card{
   width: 200px;
   padding: 10px;
   border: 2px solid rgb(4, 130, 247);
   border-radius: 10px;
   margin: 15px;
   background-color: rgb(127, 195, 255);
}
.card-title{
   font-size: 20px;
   font-weight: bold;
   text-transform: uppercase;
   text-align: center;
}
.foto-holder{
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 10px 0;
}
.card-foto{
   width: 150px;
}
.add-item{
   display: flex;
   align-items: center;
   justify-content: center;
}
.item-pcs{
   width: 30%;
   background-color: rgb(24, 36, 127);
   border-radius: 8px;
   text-align: center;
   padding: 5px 0;
   margin: 0 10px;
   font-size: 18px; 
   font-weight: bold; 
   color: rgb(182, 190, 197); 
}
.add-button{
   background-color: rgb(60, 150, 240) ;
   padding: 3px;
   width: 30px;
   border: none;
   border-radius: 5px;
   font-size: 20px; 
   font-weight: bold;  
}