.header {
   /* background-color: rgb(105, 247, 247); */
   text-align: center;
   padding: 10px;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}
.basket-link{
   position: absolute;
   right: 20px;
   top: 33px;
}
.basket-pcs{
   color: rgb(245, 89, 28);
   position: absolute;
   top: -15px;
   right: 0px;
   font-size: 18px;
   background-color: rgb(226, 226, 29);
   width: 20px;
   height: 20px;
   border-radius: 50%;
}