.sidebar{
   /* background-color: rgb(247, 247, 161); */
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.sidebar-title{
   color: rgb(68, 10, 10);
   font-size: 20px;
   font-weight: 800;
}
.nav{
   flex-grow: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   /* background-color: blueviolet; */
}
.nav-list{
   display: flex;
   flex-direction: column;
   /* background-color: aquamarine; */
}
.link{
   text-decoration: none;
   color: palevioletred;
   padding: 5px;
   text-align: center;
}
.active{
   background-color: rgb(70, 165, 225);
}