.sidebar{
   background-color: rgb(159, 161, 0);
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
/* .sidebar-title{
   color: rgb(68, 10, 10);
   font-size: 20px;
   font-weight: 800;
} */
.nav{
   flex-grow: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   /* background-color: blueviolet; */
}
.nav-list{
   display: flex;
   flex-direction: column;
   /* background-color: aquamarine; */
}
.link{
   text-decoration: none;
   color: palevioletred;
   padding: 5px;
   text-align: center;
   margin: 10px 0px;
}
.active{
   background-color: rgb(215, 219, 6);
   border-radius: 15px;
}
.icon{
   width: 55px;
   height: 55px;
}
